@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

.form-page{
    background-color: #dfeae9;
    height: 100vh;
}

.form-container{
    background-color: white;
    align-items: center;
    margin:50px auto;
    text-align: center;
    width: 500px;
    padding: 30px;
    padding-top: 10px;
    border-radius: 20px;
    border: 2px solid rgb(209, 204, 204);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.068);
}

.loginHead{
    margin: 0px 0px 20px 0px;
    font-family: 'Source Serif Pro', serif;
}

.buttonGradient:hover{
    background-image: linear-gradient(red, orange);
}

.buttonGradient{
    margin: 20px 0px;
    width: 200px;
}

.loginAlert {
    width: 30%;
    margin: 20px auto;
    font-size: 1.3rem;
    text-align: center;
}