.addp{
      background-color: white;
      margin: 30px auto;
      width: 80%;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid rgb(231, 225, 225);
      height: auto;
      padding: 40px;
      padding-bottom: 10px;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.068)
}
.formEntry{
      width: 200px;
}
  
input:focus{
      outline-width: 0;
}

.container{
      height: auto;
      padding: 40px;
}

.addContainer{
      height: 100px;
}

.addprojpage{
      height: auto;
}