@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

.display-card{
  background-image: linear-gradient(red, orange);
  margin: 10px;
  padding: 0;
  transition: transform 1s;
  transform-style: preserve-3d;
  min-height: 90%;
}

.head{
  font-family: 'Fraunces', serif;
  text-align: center;
  color: black;
}

.head:hover{
  cursor: pointer;
}

.trans{
  background-size: cover;
  height: 300px;
}

.display-card:hover{
  transform: scale(1.05);
}

.card-showCase{
  display: flex;
  padding: 30px;
  justify-content: space-around;
}