.main-footer{
      background-color:black;
      position: absolute;
      /* bottom: 0; */
      width: 100%;
      color:white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0;
}

.container {
      height: 100%;
      width: 100%; 
}

.row {
      padding-bottom: 5px;
}

.lower-footer {
      padding: 0px;
      background-color: black;
}

.row, .col, .col-sm, h6, .container {
      margin-bottom: 0;
}

.containerFoot{
      padding-bottom: 0;
      padding-top: 0;
      width: 70%;
}