.formEntry{
    width: 200px;
}

input:focus{
    outline-width: 0;
}
.signbox{
    background-color: white;
    margin: 2% auto;
    width: 80%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(231, 225, 225);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.068);
    padding-top: 30px;
}
.name-user{
    display: flex;
    flex-direction: row;
}